* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




h1 {
    color: white;
    font-size: 60px;
    font-family: 'Passion One', sans-serif;
}
p{
    margin: 30px 0;   
}
div{
    width: 70%;
    margin: auto;
    display: block;
    padding: 50px;
    background-color: #151A37;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: "Arial";
    color: purple;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: 0.2s ease-in;
    margin: 20px 0;
}
a:hover{
    border-bottom-color: white;
}
body{
    background-color: #392467;
    color: purple;
    font-size: 20px;
    font-family: 'Passion One', sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}




